.carousel-caption h2 {
  text-transform: uppercase; }

button.btn-savoir {
  font-family: "Raleway", sans-serif; }

.carousel-control .glyphicon-chevron-left:before, .carousel-control .glyphicon-chevron-right:before {
  content: none; }

@media screen and (max-width: 768px) {
  button.btn-savoir {
    margin-bottom: 15px;
    padding: 10px !important;
    font-size: 10px !important;
    letter-spacing: 2px; }

  ol.carousel-indicators {
    margin-bottom: 0;
    bottom: 10; }

  .carousel-caption h2 {
    margin-bottom: 0; }

  h2.carousel-heure {
    margin-bottom: 20px;
    margin-top: 0; } }
@media screen and (min-width: 768px) {
  button.btn-savoir {
    margin-bottom: 68px;
    padding: 15px !important;
    font-size: 13px !important;
    letter-spacing: 2px; }

  ol.carousel-indicators {
    margin-bottom: 0;
    bottom: 15; }

  .carousel-caption h2 {
    margin-bottom: 5px; }

  h2.carousel-heure {
    margin-bottom: 40px;
    margin-top: 5px; } }
@media screen and (min-width: 992px) {
  button.btn-savoir {
    margin-bottom: 100px;
    padding: 20px !important;
    font-size: 16px !important;
    letter-spacing: 4px; }

  ol.carousel-indicators {
    margin-bottom: 20px;
    bottom: 20; }

  button.btn-savoir {
    margin-bottom: 112px; }

  h2.carousel-heure {
    margin-bottom: 50px; }

  .carousel-caption h1 {
    margin-bottom: 57px; } }
body {
  font: 100% "Quicksand", sans-serif;
  color: #e82530; }

h1 {
  font: 100% "Quicksand", sans-serif !important;
  color: #fff !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 4px; }

h2 {
  font: 100% "Quicksand", sans-serif !important;
  color: #fff !important;
  font-weight: 700 !important;
  letter-spacing: 4px; }

h3 {
  font: 100% "Quicksand", sans-serif !important;
  color: #fff !important;
  font-weight: 700 !important;
  letter-spacing: 2px; }

p {
  font-family: "Raleway", sans-serif;
  color: #323232;
  line-height: 24px;
  letter-spacing: 2px; }

.btn-savoir {
  font: 100% "Quicksand", sans-serif !important;
  font-weight: 700 !important;
  background-color: #e82530;
  color: #fff;
  padding: 20px !important;
  font-size: 17px !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

button {
  border-style: none; }

.btn-savoir:hover {
  background-color: #651720;
  color: #fff !important;
  transition: all 0.2s linear; }

#logo {
  font: 100% "Quicksand", sans-serif;
  font-size: 35px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #fff; }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px !important; }

  h2 {
    font-size: 14px !important; }

  h3 {
    font-size: 11px !important; }

  p {
    font-size: 10px; } }
@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px !important; }

  h2 {
    font-size: 25px !important; }

  h3 {
    font-size: 13px !important; }

  p {
    font-size: 11px; } }
@media screen and (min-width: 992px) {
  h1 {
    font-size: 64px !important; }

  h2 {
    font-size: 31px !important; }

  h3 {
    font-size: 25px !important; }

  p {
    font-size: 16px; } }
