.carousel2.container-fluid {
  padding: 0; }

.carousel .item {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.carousel .image-un {
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("../../images/roger-Hodgson.jpg"); }

.carousel .image-deux {
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("../../images/roger-Hodgson.jpg"); }

.carousel .image-trois {
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("../../images/roger-Hodgson.jpg"); }

.carousel-caption h2 {
  text-transform: uppercase; }

button.btn-savoir {
  font-family: "Raleway", sans-serif; }

@media screen and (max-width: 768px) {
  .carousel .item {
    height: 267px; }

  button.btn-savoir {
    margin-bottom: 5px;
    padding: 10px !important;
    font-size: 10px !important;
    letter-spacing: 2px; }

  ol.carousel-indicators {
    margin-bottom: 0;
    bottom: 10; }

  .carousel-caption h2 {
    margin-bottom: 0; }

  h2.carousel-heure {
    margin-bottom: 20px;
    margin-top: 0; } }
@media screen and (min-width: 768px) {
  .carousel .item {
    height: 485px; }

  button.btn-savoir {
    margin-bottom: 10px;
    padding: 15px !important;
    font-size: 13px !important;
    letter-spacing: 2px; }

  ol.carousel-indicators {
    margin-bottom: 0;
    bottom: 15; }

  .carousel-caption h2 {
    margin-bottom: 5px; }

  h2.carousel-heure {
    margin-bottom: 40px;
    margin-top: 5px; } }
@media screen and (min-width: 992px) {
  .carousel .item {
    height: 644px; }

  button.btn-savoir {
    margin-bottom: 75px;
    padding: 20px !important;
    font-size: 16px !important;
    letter-spacing: 4px; }

  ol.carousel-indicators {
    margin-bottom: 10px;
    bottom: 20; }

  h2.carousel-heure {
    margin-bottom: 50px; }

  .carousel-caption h1 {
    margin-bottom: 50px; } }
body {
  font: 100% "Quicksand", sans-serif;
  color: #e82530;
  margin-top: 79px; }

#contenu-site h1 {
  font: 100% "Quicksand", sans-serif !important;
  color: #fff !important;
  font-size: 63px !important;
  font-weight: 700 !important;
  text-transform: uppercase; }

#contenu-site h2 {
  font: 100% "Quicksand", sans-serif;
  color: #e82530;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px; }

#contenu-site h3 {
  font: 100% "Quicksand", sans-serif;
  color: #e82530;
  font-size: 25px;
  font-weight: 700; }

#contenu-site p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 24px; }

.btn-savoir {
  font: 100% "Quicksand", sans-serif;
  font-weight: 700;
  background-color: #e82530;
  color: #fff;
  padding: 20px 20px !important;
  font-size: 17px !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .btn-savoir:hover {
    background-color: #651720;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear; }

button {
  border-style: none;
  text-decoration: none; }

#logo {
  font: 100% "Quicksand", sans-serif;
  font-size: 35px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #fff; }

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
  #contenu-site h1 {
    font-size: 24px; }

  #contenu-site h2 {
    font-size: 17px; }

  #contenu-site h3 {
    font-size: 11px; }

  #contenu-site p {
    font-size: 10px; }

  #contenu-site {
    margin-top: 65px; } }
@media screen and (min-width: 992px) {
  #contenu-site {
    margin-top: 104px; } }
@media screen and (min-width: 1200px) {
  p {
    font-size: 10px; }

  #contenu-site {
    margin-top: 68px !important; } }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #contenu-site h1 {
    font-size: 50px !important; }

  #contenu-site h2 {
    font-size: 24px !important; }

  #contenu-site h3 {
    font-size: 13px !important; }

  #contenu-site p {
    font-size: 11px; } }
/* Medium devices (desktops, 992px and up) */
#logo {
  font: 100% "Quicksand", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #fff;
  height: 100%;
  padding: 21px;
  transition: all 0.2s linear; }

#logo:hover, #logo:active, #logo:focus {
  text-decoration: none; }

#navbar-parenthese {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
  width: 100%;
  border: none;
  margin-bottom: 0;
  border-bottom: 1px solid #e2e2e2;
  background-color: #e82530; }
  #navbar-parenthese .navbar-collapse {
    border-color: #fff; }
  #navbar-parenthese .navbar-form {
    border: 0 transparent; }
  #navbar-parenthese .navbar-toggle {
    margin-top: 12px;
    margin-bottom: 12px;
    border-color: transparent; }
    #navbar-parenthese .navbar-toggle:hover, #navbar-parenthese .navbar-toggle:focus {
      background-color: transparent; }
    #navbar-parenthese .navbar-toggle .icon-bar {
      height: 3px;
      width: 31px; }
    #navbar-parenthese .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 6px; }
  @media (min-width: 768px) {
    #navbar-parenthese div #navbar .menu-navigation {
      margin-top: 17px; } }
  @media (min-width: 992px) {
    #navbar-parenthese div #navbar .menu-navigation {
      margin-top: 27px; } }

#navbar-parenthese .menu-item a {
  color: #fff;
  transition: all 0.2s linear;
  font-size: 14px;
  background-color: transparent; }
  @media (min-width: 768px) {
    #navbar-parenthese .menu-item a {
      font-size: 15px;
      letter-spacing: 2px;
      padding: 15px 11px; } }
  @media (min-width: 992px) {
    #navbar-parenthese .menu-item a {
      font-size: 18px; } }
  #navbar-parenthese .menu-item a:hover, #navbar-parenthese .menu-item a:focus, #navbar-parenthese .menu-item a:active {
    color: #651720; }

#navbar-parenthese .menu-item > .active > a {
  color: #651720; }

.navbar-brand {
  height: inherit; }

/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #logo {
    font-size: 25px;
    padding: 25px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #logo {
    font-size: 33px;
    padding: 33px; } }
/* Large devices (large desktops, 1200px and up) */
.postContainer {
  padding-bottom: 30px;
  max-width: 385px;
  float: none;
  margin: 0 auto; }
  .postContainer img {
    max-width: 100%; }

[class*='spectacle'] img {
  max-width: 100%; }

.spectacle, .spectacle-front, .spectacle-back {
  height: 360px;
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden; }

.spectacle.hover .spectacle-back .spectacle-info-name, .spectacle.hover .spectacle-back .spectacle-info-date {
  top: 0; }
.spectacle.hover .spectacle-back .spectacle-content {
  bottom: 0; }

.spectacle-front {
  cursor: pointer;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0; }
  .spectacle-front .spectacle-info {
    bottom: 0; }
  .spectacle-front .spectacle-info-name {
    padding-left: 70px; }
  .spectacle-front .spectacle-info-date {
    bottom: 0;
    left: 0; }

.spectacle-back {
  position: absolute;
  top: 0;
  left: 0; }
  .spectacle-back .spectacle-info {
    top: 0;
    cursor: pointer; }
  .spectacle-back .spectacle-info-name {
    top: -70px;
    padding-right: 70px;
    transition: top 0.2s ease-in-out; }
  .spectacle-back .spectacle-info-date {
    top: -70px;
    right: 0;
    transition: top 0.2s ease-in-out; }

.spectacle-content {
  padding: 20px;
  background: #f3f3f3;
  position: relative;
  height: 290px;
  bottom: -291px;
  transition: bottom 0.2s ease-in-out; }

.spectacle-time {
  top: -6.5px;
  position: relative;
  font-size: 15px;
  color: #e82530;
  font-family: "Quicksand", sans-serif;
  font-weight: 700; }

.spectacle-description {
  font-family: "Raleway", sans-serif;
  color: #323232;
  margin: 0;
  height: 193px;
  overflow: hidden;
  font-size: 14px; }

.spectacle-info {
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden; }

.spectacle-info-name {
  background: #651720;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 17px;
  height: 70px;
  display: table;
  width: 100%;
  position: relative; }
  .spectacle-info-name .text {
    padding: 0 0.5em 0 1em;
    display: table-cell;
    vertical-align: middle; }

.spectacle-info-date {
  position: absolute;
  padding: 2px;
  background: #e82530;
  width: 70px;
  height: 70px;
  text-align: center;
  color: #fff;
  line-height: 21px;
  font-size: 13px;
  font-weight: 300;
  font-family: "Quicksand", sans-serif; }
  .spectacle-info-date .number {
    font-weight: 700;
    font-size: 26px;
    display: block; }

.spectacle-cover {
  width: 100%;
  height: auto; }

.btn-spectacle-info {
  font: 100% "Quicksand", sans-serif;
  font-weight: 700;
  background-color: #e82530;
  color: #fff;
  padding: 15px 11px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .btn-spectacle-info:hover {
    background-color: #651720;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear; }

.btn-margin-right {
  margin-right: 12px; }

@media (min-width: 1200px) {
  .btn-spectacle-info {
    font-size: 14px;
    padding: 15px 23px; }

  .btn-margin-right {
    margin-right: 15px; } }
@media (max-width: 768px) {
  .btn-spectacle-info {
    font-size: 14px;
    padding: 15px 23px; }

  .btn-margin-right {
    margin-right: 15px; } }
.footer-top {
  background-color: #651720;
  color: #fff;
  height: auto;
  padding: 10px; }

footer p {
  color: #fff;
  margin: 0; }

i {
  text-align: center;
  margin-left: 10px; }

.fa {
  width: 40px;
  height: 40px;
  background-color: #e82530;
  border-radius: 50%;
  padding-top: 10px;
  font-size: 22px !important; }

footer address {
  display: inline-block; }

footer div.reseau {
  display: inline-block;
  float: right;
  padding-top: 40px; }

.footer-bottom {
  background-color: #e82530;
  color: #fff;
  padding: 10px; }

.footer-bottom p {
  font-size: 12px !important; }

/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  footer p:nth-child(1) {
    font-size: 17px; }
  footer p:nth-child(2), footer p:nth-child(3), footer p:nth-child(4) {
    font-size: 15px; } }
/* Large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=style.css.map */
