@charset "UTF-8";
.carousel2.container-fluid {
  padding: 0; }

.carousel .item {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

#contenu-site .carousel-caption h2 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400; }

button.btn-savoir {
  font-family: "Raleway", sans-serif;
  margin-bottom: 7px;
  margin-top: 9px;
  padding: 15px !important;
  font-size: 13px !important;
  letter-spacing: 2px;
  font-weight: 400; }

.carousel-caption {
  text-shadow: none !important; }

@media screen and (max-width: 768px) {
  .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    height: 300px !important;
    max-width: none !important; }

  button.btn-savoir {
    margin-bottom: 5px;
    padding: 10px !important;
    font-size: 10px !important;
    letter-spacing: 1px; }

  ol.carousel-indicators {
    margin-bottom: 0;
    bottom: 10; }

  #contenu-site .carousel-caption h2 {
    margin: 16px 0;
    font-size: 14px; }

  #contenu-site h2.carousel-heure {
    margin-bottom: 20px;
    margin-top: 0; }

  #contenu-site .carousel-caption {
    padding-bottom: 67px; } }
@media screen and (min-width: 768px) {
  .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    height: 400px !important;
    max-width: none !important; }

  button.btn-savoir {
    margin-bottom: 10px;
    padding: 15px !important;
    font-size: 13px !important;
    letter-spacing: 1px; }

  ol.carousel-indicators {
    margin-bottom: 0;
    bottom: 15; }

  #contenu-site .carousel-caption h2 {
    margin: 20px 0;
    font-size: 24px; }

  #contenu-site .carousel-caption {
    padding-bottom: 50px; } }
@media screen and (min-width: 992px) {
  .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    height: auto !important;
    width: 100% !important; }

  button.btn-savoir {
    margin-bottom: 75px;
    padding: 17px !important;
    font-size: 15px !important;
    letter-spacing: 2px; }

  ol.carousel-indicators {
    margin-bottom: 10px;
    bottom: 20; }

  h2.carousel-heure {
    margin-bottom: 50px; }

  #contenu-site .carousel-caption h1 {
    margin-bottom: 35px; }

  #contenu-site .carousel-caption {
    padding-bottom: 8px; } }
@media screen and (min-width: 1200px) {
  #contenu-site .carousel-caption {
    padding-bottom: 75px; } }
#contenu-site {
  margin-top: 79px; }

body {
  font: 100% "Quicksand", sans-serif;
  color: #e82530; }

#contenu-site h1 {
  font: 100% "Quicksand", sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase; }

#contenu-site h2 {
  font: 100% "Quicksand", sans-serif;
  color: #e82530;
  font-weight: 700;
  text-align: center;
  margin: 55px 0; }

#contenu-site h3 {
  font: 100% "Quicksand", sans-serif;
  color: #e82530;
  font-weight: 700; }

#contenu-site h4 {
  font: 100% "Quicksand", sans-serif;
  color: #D9D9D9;
  font-weight: 700;
  text-align: center;
  font-size: 18px; }

#contenu-site p {
  font-family: "Raleway", sans-serif;
  line-height: 24px; }

#contenu-site a:hover {
  text-decoration: none; }

.fa {
  width: 40px;
  height: 40px;
  background-color: #e82530;
  border-radius: 50%;
  padding-top: 9px;
  font-size: 22px !important; }

i {
  text-align: center;
  margin-left: 10px;
  color: #fff; }

.btn-savoir {
  font: 100% "Quicksand", sans-serif;
  font-weight: 700;
  background-color: #e82530;
  color: #fff;
  padding: 20px 20px !important;
  font-size: 17px !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .btn-savoir:hover {
    background-color: #651720;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear; }

.btn-parenthese {
  color: #fff;
  background-color: #e82530;
  padding: 12px 9px !important;
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700 !important;
  font-family: "Quicksand", sans-serif;
  clear: both; }
  .btn-parenthese:hover {
    background-color: #651720;
    color: #fff !important;
    text-decoration: none;
    transition: all 0.2s linear; }

button {
  border-style: none;
  text-decoration: none; }

.btn-left {
  float: left;
  margin-right: 15px; }

#logo {
  font: 100% "Quicksand", sans-serif;
  font-size: 35px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #fff; }

.clear-both {
  clear: both; }

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
  #contenu-site {
    margin-top: 66px; }

  #contenu-site h1 {
    font-size: 29px; }

  #contenu-site h2 {
    font-size: 24px; }

  #contenu-site h3 {
    font-size: 20px; }

  #contenu-site p {
    font-size: 15px; } }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #contenu-site {
    margin-top: 94px; }

  #contenu-site h1 {
    font-size: 45px; }

  #contenu-site h2 {
    font-size: 30px; }

  #contenu-site h3 {
    font-size: 25px; }

  #contenu-site p {
    font-size: 15px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #contenu-site {
    margin-top: 104px; }

  #contenu-site h1 {
    font-size: 55px; }

  #contenu-site h2 {
    font-size: 30px; }

  #contenu-site h3 {
    font-size: 30px; }

  #contenu-site p {
    font-size: 16px; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #contenu-site {
    margin-top: 104px; } }
#logo {
  font: 100% "Quicksand", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #fff;
  height: 100%;
  padding: 21px;
  transition: all 0.2s linear; }

#logo:hover, #logo:active, #logo:focus {
  text-decoration: none; }

#navbar-parenthese {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
  width: 100%;
  border: none;
  margin-bottom: 0;
  border-bottom: 1px solid #e2e2e2;
  background-color: #e82530; }
  #navbar-parenthese .navbar-collapse {
    border-color: #fff; }
  #navbar-parenthese .navbar-form {
    border: 0 transparent;
    margin-bottom: 1px; }
  #navbar-parenthese .navbar-toggle {
    margin-top: 12px;
    margin-bottom: 12px;
    border-color: transparent; }
    #navbar-parenthese .navbar-toggle:hover, #navbar-parenthese .navbar-toggle:focus {
      background-color: transparent; }
    #navbar-parenthese .navbar-toggle .icon-bar {
      height: 3px;
      width: 31px; }
    #navbar-parenthese .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 6px; }
  @media (min-width: 768px) {
    #navbar-parenthese div #navbar .menu-navigation {
      margin-top: 17px; } }
  @media (min-width: 992px) {
    #navbar-parenthese div #navbar .menu-navigation {
      margin-top: 27px; } }

#navbar-parenthese .menu-item a {
  color: #fff;
  transition: all 0.2s linear;
  font-size: 14px;
  background-color: transparent; }
  @media (min-width: 768px) {
    #navbar-parenthese .menu-item a {
      font-size: 14px;
      letter-spacing: 2px;
      padding: 15px 11px; } }
  @media (min-width: 992px) {
    #navbar-parenthese .menu-item a {
      font-size: 18px; } }
  #navbar-parenthese .menu-item a:hover, #navbar-parenthese .menu-item a:focus, #navbar-parenthese .menu-item a:active {
    color: #651720; }

#navbar-parenthese .menu-item > .active > a {
  color: #651720; }

.navbar-brand {
  height: inherit; }

.btn-default.btn-search, .search-bar .search-input {
  border-color: transparent; }

#custom-search-input .input-group-btn > .btn {
  border-left-width: 0;
  left: -2px; }

#custom-search-input .input-group .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #cccccc; }

#custom-search-input .form-control {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 34px !important; }

#custom-search-input .btn {
  border-color: #fff; }
  #custom-search-input .btn:hover, #custom-search-input .btn:focus {
    background-color: #fff; }

#custom-search-input .btn i {
  color: #e82530; }
  #custom-search-input .btn i:hover, #custom-search-input .btn i:focus {
    background-color: #fff;
    color: #651720;
    transition: all 0.2s linear; }

/*TeLePHONE */
#contenu-site p.telephone-header {
  text-align: left;
  font-size: 9px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Quicksand", sans-serif; }

/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #logo {
    font-size: 25px;
    padding: 25px; }

  #contenu-site p.telephone-header {
    text-align: right; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #logo {
    font-size: 33px;
    padding: 33px; } }
/* Large devices (large desktops, 1200px and up) */
.rechercheInfructueuse {
  margin-top: 100px;
  margin-bottom: 150px; }
  .rechercheInfructueuse p {
    font-size: 15px;
    font-weight: 400; }

.programmation-container {
  clear: both; }

.postContainer {
  padding-bottom: 30px;
  max-width: 385px;
  float: none;
  margin: 0 auto; }
  .postContainer img {
    max-width: 100%; }

.title-month {
  margin-bottom: 42px;
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 400 !important; }

.spectacles-a-venir-container {
  padding-top: 2px; }

[class*='spectacle'] img {
  max-width: 100%; }

.spectacle, .spectacle-front, .spectacle-back {
  height: 360px;
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden; }

.spectacle.hover .spectacle-back .spectacle-info-name, .spectacle.hover .spectacle-back .spectacle-info-date {
  top: 0; }
.spectacle.hover .spectacle-back .spectacle-content {
  bottom: 0; }

.spectacle-front {
  cursor: pointer;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0; }
  .spectacle-front .spectacle-info {
    bottom: 0; }
  .spectacle-front .spectacle-info-name {
    padding-left: 70px; }
  .spectacle-front .spectacle-info-date {
    bottom: 0;
    left: 0; }
  .spectacle-front .spectacle-bandeau {
    text-align: center;
    background-color: rgba(232, 37, 48, 0.6);
    text-transform: uppercase;
    padding: 0.5em;
    font-size: 14px;
    color: #fff;
    font-family: "Quicksand", sans-serif; }

.spectacle-back {
  position: absolute;
  top: 0;
  left: 0; }
  .spectacle-back .spectacle-info {
    top: 0;
    cursor: pointer; }
  .spectacle-back .spectacle-info-name {
    top: -70px;
    padding-right: 70px;
    transition: top 0.2s ease-in-out; }
  .spectacle-back .spectacle-info-date {
    top: -70px;
    right: 0;
    transition: top 0.2s ease-in-out; }

.spectacle-content {
  padding: 20px;
  background: #f3f3f3;
  position: relative;
  height: 290px;
  bottom: -291px;
  transition: bottom 0.2s ease-in-out; }

.spectacle-time {
  top: -6.5px;
  position: relative;
  font-size: 15px;
  color: #e82530;
  font-family: "Quicksand", sans-serif;
  font-weight: 700; }

.spectacle-description {
  font-family: "Raleway", sans-serif;
  color: #323232;
  margin: 0;
  height: 193px;
  overflow: hidden;
  font-size: 14px; }

.spectacle-info {
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden; }

.spectacle-info-name {
  background: #651720;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 17px;
  height: 70px;
  display: table;
  width: 100%;
  position: relative; }
  .spectacle-info-name .text {
    padding: 0 0.5em 0 1em;
    display: table-cell;
    vertical-align: middle; }

.spectacle-info-date {
  position: absolute;
  padding: 2px;
  background: #e82530;
  width: 70px;
  height: 70px;
  text-align: center;
  color: #fff;
  line-height: 21px;
  font-size: 13px;
  font-weight: 300;
  font-family: "Quicksand", sans-serif; }
  .spectacle-info-date .number {
    font-weight: 700;
    font-size: 26px;
    display: block; }

.spectacle-cover {
  width: 100%;
  height: auto; }

.btn-spectacle-info {
  font: 100% "Quicksand", sans-serif;
  font-weight: 700;
  background-color: #e82530;
  color: #fff;
  padding: 15px 11px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .btn-spectacle-info:hover {
    background-color: #651720;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear; }

.btn-margin-right {
  margin-right: 12px; }

@media (min-width: 1200px) {
  .btn-spectacle-info {
    font-size: 14px;
    padding: 15px 23px; }

  .btn-margin-right {
    margin-right: 15px; } }
@media (max-width: 768px) {
  .btn-spectacle-info {
    font-size: 14px;
    padding: 15px 23px; }

  .btn-margin-right {
    margin-right: 15px; } }
.footer-top {
  background-color: #651720;
  color: #fff;
  height: auto;
  padding: 25px 10px; }

footer p {
  color: #fff;
  margin: 0; }
footer address {
  display: inline-block;
  margin-bottom: 0; }
footer div.reseau {
  display: inline-block;
  float: right;
  margin-top: 26px; }
footer a {
  color: #fff; }
  footer a:hover {
    color: #fff; }

i {
  text-align: center;
  margin-left: 10px; }

.footer-bottom {
  background-color: #e82530;
  color: #fff;
  padding: 10px; }

.footer-bottom p {
  font-size: 12px !important; }

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
  footer div.reseau {
    margin-top: 20px;
    float: center; }

  footer .footer-top, footer .footer-bottom {
    text-align: center; }

  footer address {
    display: block; } }
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
#contact .contact-adresse {
  margin-bottom: 40px; }

#contact a {
  color: #323232;
  margin: 5px 0; }

#contact i {
  margin: 25px 0 15px 0; }

#contact .contact-titre {
  margin: 10px 0;
  color: #e82530; }

#contact p {
  margin: 5px 0; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
  #contact .container {
    padding: 0 10%; }

  #contact p {
    line-height: 18px; }

  #contact .fa-first {
    margin: 0 0 15px 0; }

  .google-maps {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px; }

  #contact .contact-titre {
    font-size: 16px; } }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #contact .container {
    padding: 0; }

  .google-maps {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    margin-bottom: 30px; }

  #contact .contact-titre {
    font-size: 18px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .google-maps {
    padding-bottom: 40%; }

  #contact .contact-titre {
    font-size: 20px; } }
/* Large devices (large desktops, 1200px and up) */
/*
 *
 *PANIER DE COMMANDE
 *
 */
@-moz-document url-prefix() {
  .panier-detail, .panier-resume {
    float: left; }

  .btn-achat {
    float: right; } }
.etapes-achat .etape {
  margin-bottom: 30px;
  clear: both; }
.etapes-achat .rond-etape {
  display: block;
  height: 44px;
  width: 44px;
  line-height: 44px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  background-color: #D9D9D9;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin: auto;
  background-color: #e82530; }
.etapes-achat h4 {
  color: #e82530 !important; }

table, tr {
  border-color: #e82530; }

.panier-detail th {
  border-bottom: none !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  text-align: center; }
  .panier-detail th:first-child {
    padding-left: 35px;
    text-align: left;
    width: 50%; }

.panier-detail {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 0 !important; }
  .panier-detail thead {
    background-color: #e82530;
    text-transform: uppercase;
    border: transparent; }
    .panier-detail thead th {
      font-size: 18px;
      font-weight: 400;
      text-transform: none;
      color: #fff; }
  .panier-detail tbody tr td, .panier-detail tfoot tr td {
    padding: 10px 0 10px 0;
    vertical-align: inherit !important;
    text-align: center; }
  .panier-detail .panier-item-image {
    padding-left: 4px;
    width: 125px; }
    .panier-detail .panier-item-image .panier-item-image-vignette {
      border-radius: 77px;
      overflow: hidden;
      width: 150px; }
      .panier-detail .panier-item-image .panier-item-image-vignette img {
        width: 150px;
        height: 150px;
        transition: all 0.2s linear; }
  .panier-detail .panier-item-description h3 {
    margin-bottom: 20px;
    font-size: 24px !important;
    text-align: left; }
    .panier-detail .panier-item-description h3 .date-spectacle {
      font-size: 13px;
      color: #651720; }
  .panier-detail .panier-item-prix, .panier-detail .panier-item-total {
    font-size: 18px;
    color: #e82530;
    font-weight: 400;
    text-align: center; }
  .panier-detail .panier-item-quantite input {
    font-size: 21px;
    font-weight: 700;
    color: #e82530;
    padding: 0;
    text-align: center;
    width: 95px;
    height: 48px;
    line-height: 48px;
    letter-spacing: 1px;
    border: 2px solid #e82530; }

.table-responsive {
  overflow-x: visible !important; }

.panier-resume {
  margin: 0 0 30px 0;
  width: 100%;
  font-family: "Quicksand", sans-serif; }
  .panier-resume td:first-child, .panier-resume td.last {
    text-align: right;
    width: auto; }
  .panier-resume td {
    font-size: 17px;
    color: #e82530;
    padding: 16px 5px;
    text-transform: none;
    text-align: right; }
  .panier-resume .total {
    background-color: #e82530; }
    .panier-resume .total td {
      color: #fff; }

input.btn-achat {
  margin-bottom: 20px; }

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .table-responsive {
    border: 1px solid #e82530 !important; }

  .panier-detail .fa {
    width: 30px;
    height: 30px;
    padding-top: 3px; }
  .panier-detail .panier-item-description h3 {
    font-size: 18px !important;
    text-align: left; }
  .panier-detail .panier-item-image .panier-item-image-vignette {
    border-radius: 50px;
    overflow: hidden;
    width: 100px; }
    .panier-detail .panier-item-image .panier-item-image-vignette img {
      width: 100px;
      height: 100px; }
  .panier-detail .panier-item-quantite input {
    width: 50px;
    height: 50px;
    font-size: 16px; } }
/*
 *
 *INFORMATIONS CLIENT
 *
 */
.input-group-addon:focus, .form-control:focus {
  border-color: #651720 !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.form-control {
  height: 45px !important; }

select.form-control {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="radio"],
input[type="checkbox"] {
  display: none; }

input[type="radio"] + div:before,
input[type="checkbox"] + div:before {
  font-family: "FontAwesome";
  padding-right: 3px;
  margin-top: 2px;
  font-size: 19px;
  color: #e82530; }

input[type="radio"] + div:before {
  content: ""; }

input[type="radio"]:checked + div:before {
  content: "";
  padding-right: 0; }

input[type="checkbox"] + div:before {
  content: ""; }

input[type="checkbox"]:checked + div:before {
  content: "";
  padding-right: 0; }

input {
  font-family: "Quicksand", sans-serif !important; }

.input-group-addon {
  min-width: 165px;
  text-align: left !important;
  background-color: transparent !important;
  font-family: "Quicksand", sans-serif; }

.info-condition {
  margin: 10px 0 20px 0; }
  .info-condition .bouton-commentaire {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    margin-left: 10px; }

/*
 *
 * MeTHODE DE PAIEMENT
 *
 */
.carte-width {
  width: 50%;
  float: left; }
  .carte-width .bouton-commentaire {
    vertical-align: text-bottom !important; }

.push-card {
  margin-right: 10px;
  vertical-align: top !important; }

/*CUSTOM */
.spectacle-filtre {
  float: right; }
  .spectacle-filtre .cs-select {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px; }

div.cs-skin-underline {
  background: transparent;
  font-size: 1.8em;
  max-width: 400px; }

@media screen and (max-width: 30em) {
  div.cs-skin-underline {
    font-size: 1.2em; } }
.cs-skin-underline > span {
  font-family: "Quicksand", sans-serif;
  color: #e82530 !important;
  padding: 0.5em 3em 0.5em 0.5em;
  border: 3px solid #e82530;
  font-weight: bold;
  font-size: 16px; }

.cs-skin-underline > span::after {
  font-family: "icomoon";
  content: "";
  right: 0.25em;
  -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
  transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

.cs-skin-underline.cs-active > span::after {
  -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 270deg);
  transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 270deg); }

.cs-skin-underline .cs-options {
  background: #bbc7c8;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
  transition: opacity 0.3s 0.4s, visibility 0s 0.7s; }

.cs-skin-underline.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.cs-skin-underline ul span {
  position: relative;
  text-transform: uppercase;
  font-size: 66%;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1.2em 0.8em;
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s; }

.cs-select ul span::after {
  content: "";
  opacity: 0; }

.cs-select .cs-selected span::after {
  font-family: "icomoon";
  content: "";
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.7s;
  transition: opacity 0.3s 0.7s; }

.cs-skin-underline ul span::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.cs-skin-underline.cs-active ul span,
.cs-skin-underline.cs-active ul span::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.cs-skin-underline li span,
.cs-skin-underline li span::before,
.cs-skin-underline.cs-active li span,
.cs-skin-underline.cs-active li span::before {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

.cs-skin-underline .cs-options li span:hover,
.cs-skin-underline .cs-options li.cs-focus span,
.cs-skin-underline li.cs-selected span {
  color: #e82530;
  background: transparent; }

/* Default custom select styles */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: 325px;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.cs-select:focus {
  outline: none; }

.cs-select select {
  display: none; }

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/* Placeholder and selected option */
.cs-select > span {
  padding-right: 3em;
  width: 100%; }

.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cs-select > span::after {
  content: "▾";
  right: 1em; }

.cs-select .cs-selected span::after {
  content: "✓";
  margin-left: 1em; }

.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

div.cs-active {
  z-index: 200; }

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden; }

.cs-select.cs-active .cs-options {
  visibility: visible; }

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .cs-select ul span {
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 12px; }

.cs-select ul li.cs-focus span {
  background-color: #ddd; }

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em; }

.cs-select li.cs-optgroup > span {
  cursor: default; }

#contact label {
  display: inline-block;
  width: 100px;
  text-align: right; }

#contact_submit {
  padding-left: 100px; }

#contact div {
  margin-top: 1em; }

textarea {
  vertical-align: top;
  height: 5em; }

.error {
  display: none;
  margin-left: 10px; }

.error_show {
  color: red;
  margin-left: 10px; }

input.invalid, textarea.invalid {
  border: 2px solid red; }

#information-client input.valid, textarea.valid {
  border: 2px solid green;
  background-color: white !important; }

form p {
  color: red; }

/*# sourceMappingURL=style.css.map */
