.carousel-caption h2
	text-transform: uppercase

h2.carousel-heure
	margin-top: 10px
	margin-bottom: 50px
	
button.btn-savoir
	margin-bottom: 112px
	
.carousel-control .glyphicon-chevron-left:before, .carousel-control .glyphicon-chevron-right:before
	content: none

