.footer-top
	background-color: $color-red-hover
	color: $color-white
	height: auto
	padding: 10px
footer p
	color: $color-white

.footer-bottom
	background-color: $color-red
	color: $color-white
	padding: 10px

i
	font-size: 20px

.adresse
	//display: inline-block

reseau
	//float: right
	//display: inline-block

//medias queries

@media screen and (max-width: $screen-sm-min)  // <768




@media screen and (min-width: $screen-sm-min) // >768px


@media screen and (min-width: $screen-md-min) // >992px



@media screen and (min-width: $screen-lg-min) // >1200px

	