.footer-top
	background-color: $color-red-hover
	color: $color-white
	height: auto
	padding: 25px 10px

footer
	p
		color: $color-white
		margin: 0
	address
		display: inline-block
		margin-bottom: 0
	div.reseau
		display: inline-block
		float: right
		margin-top: 26px
	a
		color: $color-white
		&:hover
			color: $color-white

i
	text-align: center
	margin-left: 10px

.footer-bottom
	background-color: $color-red
	color: $color-white
	padding: 10px

.footer-bottom p
	font-size: 12px!important

//medias queries

/* Extra small devices (phones, less than 768px) */
@media (max-width: $screen-sm-min)
	footer div.reseau
		margin-top: 20px
		float: center
		
	footer .footer-top, footer .footer-bottom
		text-align: center

	footer address
		display: block

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)


/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)


/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min)